<p>
  <%= image_tag @enemy.image %>
</p>
<p>
  <%= @enemy.name%>の攻撃
</p>
<p>
  <%= @attack_point %>のダメージを受けた
</p>

<p>
  <% if @player.hp <= 0 %>
    <p><%= @player.name %>は死んでしまった</p>
    <p><%= link_to "やり直す", :controller => :explorer, :action => :start %></p>
  <% else %>
    <%= link_to "戦う", :action => :fight, :enemy_id => @enemy.id %>
  <% end %>
</p>

<p>
  <%= link_to "逃げる", :action => :escape, :enemy_id => @enemy.id %>
</p>
