<p>
  <%= @player.name%>の攻撃
</p>
<p>
  <%= @attack_point %>のダメージを与えた
</p>

<p>
  <% if @enemy.hp <= 0 %>
    <p><%= @enemy.name %>を倒した</p>
    <p><%= link_to "次へ", :controller => :battle, :action => :win %></p>
  <% else %>
    <%= link_to "次へ", :action => :defence, :enemy_id => @enemy.id %>
  <% end %>
</p>