<p>
  <%= image_tag @enemy.image %>
</p>
<div class="message">
  <p>
    <%= flash[:notice] %>
  </p>
  <p>
    敵が現れた！
  </p>
  <p>
    <%= @enemy.name %>
  </p>
</div>
<p>
  <%= link_to "戦う", :action => :start, :enemy_id => @enemy.id %>
</p>
<p>
  <%= link_to "逃げる", :action => :escape, :enemy_id => @enemy.id %>
</p>
