<p>
  ステータス
</p>
<table>
  <tr>
    <td>名前</td>
    <td><%= player.name %></td>
  </tr>
  <tr>
    <td>HP</td>
    <td><%= player.hp %> / <%= player.max_hp %></td>
  </tr>
  <tr>
    <td>攻撃力</td>
    <td><%= player.attack %></td>
  </tr>
  <tr>
    <td>防御力</td>
    <td><%= player.defence %></td>
  </tr>
  <tr>
    <td>薬草</td>
    <td><%= player.herb %></td>
  </tr>
</table>
