<!DOCTYPE html>
<html>
<head>
  <title>Mq</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<p>
  <%= flash[:notice] %>
</p>
<%= yield %>

<p>
  <%= player_status %>
</p>

<p>
  当ゲームのグラフィックは<%= link_to "シアンのゆりかご", "http://cyanyurikago.web.fc2.com",:target => "_blank" %>様に掲載されているものを使用しています
</p>
</body>
</html>
