<!DOCTYPE html>
<html>
<head>
  <title>Mq</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= yield %>

<div class="status">
  <%= player_status %>
</div>

<div class="footer">
  当ゲームのグラフィックは<%= link_to "シアンのゆりかご", "http://cyanyurikago.web.fc2.com",:target => "_blank" %>様に掲載されているものを使用しています
</div>
</body>
</html>
